body{
    margin: opx auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    background-color: #A9D0F5;
}

#header{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

#header li{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: #084B8A;
    margin: 20px;
    cursor: pointer;

}



